[
  {
    "name": "figma_session",
    "value": "BAh7CEkiD3Nlc3Npb25faWQGOgZFVG86HVJhY2s6OlNlc3Npb246OlNlc3Npb25JZAY6D0BwdWJsaWNfaWRJIkUwNWIyOTQ4MzhjYWM1NWRiZDZlZGYxOTljN2IwYmExODdkNTZkNDRmY2YwMmQ3NTdmOWFhMjhhM2Y4OWE1ZDYxBjsARkkiCmZsYXNoBjsARnsASSINdXNlcm5hbWUGOwBGSSIddG91aWplbG1laGRpQG91dGxvb2suY29tBjsAVA%3D%3D--4911e26e64b687a39ebb37eff7d439524a21ad26",
    "domain": ".figma.com",
    "path": "/",
    "httpOnly": true,
    "secure": true,
    "sameSite": "None"
  }
]